.title-auth {
  font-size: 30px;
  color: black;
  text-align: center;
}

.form-div {
  text-align: center;
}

.input-auth {
  width: 400px;
}

.input-space {
  padding-top: 35px;
}

.link-login {
  margin-top: 10px;
}

.link {
  color: #00a8ff
}

.btn-auth {
  color: #ffffff;
  border: none;
  background-color: #00a8ff;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 20px;
  border-radius: 6px;
}